{% if  is_granted('IS_AUTHENTICATED_FULLY') %}
<nav class="navbar navbar-expand-lg bg-dark navbar-dark shadow-sm py-3 py-lg-0 px-3 px-lg-0">
        <a href="index.html" class="navbar-brand d-block d-lg-none">
            <h1 class="m-0 text-uppercase text-white"><i class="fa fa-birthday-cake fs-1 text-primary me-3"></i>Recette</h1>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto mx-lg-auto py-0">
                <a href="{{ path('app_acceuil') }}" class="nav-item nav-link active">Acceuil</a>
                <a href="" class="nav-item nav-link">A propos</a>
                 <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Menu du jour</a>
                    <div class="dropdown-menu m-0">
                        <a href="{{ path('app_recette_index') }}" class="dropdown-item">Voir menu</a>
                        {% if is_granted('ROLE_ADMIN') %}

                        <a href="{{ path('app_menu_new') }}" class="dropdown-item">Ajouter  menu</a>
                        {% endif %}


                    </div>
                </div>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Recette</a>
                    <div class="dropdown-menu m-0">
                        <a href="{{ path('app_recette_index') }}" class="dropdown-item">Liste des Recette</a>
                        {% if is_granted('ROLE_ADMIN') %}

                        <a href="{{ path('app_recette_new') }}" class="dropdown-item">Ajouter  recette</a>
                        <a href="{{ path('app_type_recette_new') }}" class="dropdown-item">Ajouter type recette</a>

                        {% endif %}

                    </div>
                </div>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Utilisateurs</a>
                    <div class="dropdown-menu m-0">
                        <a  class="dropdown-item" href="{{path('app_all_user')}}"  >Liste des utilisateurs</a>
                        {% if is_granted('ROLE_ADMIN') %}

                        <a href="{{ path('app_add_user') }}" class="dropdown-item">Ajouter  Utilisateur</a>

                        {% endif %}

                    </div>
                </div>
                {% endif %}
                

                <a href="{{path('app_compte')}}" class="nav-item nav-link">{{ app.user.nom }} </a>

                <a  class="nav-link" href="{{path('app_logout')}}"  >Log out</a>
									
              
            </div>
        </div>
    </nav>
          {% endif %}